<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workbench.dao.ProductColorMapper">
  <resultMap id="BaseResultMap" type="com.example.workbench.domain.ProductColor">
    <id column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, color, pid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_product_color
    where cid = #{cid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_product_color
    where cid = #{cid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.workbench.domain.ProductColor">
    insert into tbl_product_color (cid, color, pid
      )
    values (#{cid,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.workbench.domain.ProductColor">
    insert into tbl_product_color
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.workbench.domain.ProductColor">
    update tbl_product_color
    <set>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.workbench.domain.ProductColor">
    update tbl_product_color
    set color = #{color,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=VARCHAR}
  </update>

  <delete id="deleteProductColorByPid" parameterType="string">
    delete
    from tbl_product_color
    where pid = #{pid}
  </delete>
</mapper>