<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workbench.dao.UserAddressRelationMapper">
  <resultMap id="BaseResultMap" type="com.example.workbench.domain.UserAddressRelation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="aid" jdbcType="VARCHAR" property="aid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, aid, uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_user_address_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_user_address_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.workbench.domain.UserAddressRelation">
    insert into tbl_user_address_relation (id, aid, uid)
    values (#{id,jdbcType=VARCHAR}, #{aid,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.workbench.domain.UserAddressRelation">
    insert into tbl_user_address_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.workbench.domain.UserAddressRelation">
    update tbl_user_address_relation
    <set>
      <if test="aid != null">
        aid = #{aid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.workbench.domain.UserAddressRelation">
    update tbl_user_address_relation
    set aid = #{aid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAidByUid" parameterType="string" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from tbl_user_address_relation
    where uid = #{uid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteAddressRelationByUid" parameterType="string">
    delete
    from tbl_user_address_relation
    where uid = #{uid}
  </delete>
</mapper>